HOST_IP="192.168.1.15"
HOSTNAME_TO_SET=""
PRIMARY_USER=""

TZ="America/Chicago"

PORTAINER_DOMAIN="portainer.home"
HOMEPAGE_DOMAIN="dash.home"

INSTALL_TAILSCALE="true"
ENABLE_UFW="true"
ENABLE_UNATTENDED_UPGRADES="true"
HARDEN_SSH="false"
ENABLE_WATCHTOWER="true"

DOCKER_ROOT="/opt/docker"
BACKUP_RETAIN_DAYS="14"

PORTAINER_IMAGE="portainer/portainer-ce:2"
HOMEPAGE_IMAGE="ghcr.io/gethomepage/homepage:latest"
WATCHTOWER_IMAGE="containrrr/watchtower:latest"
CADDY_IMAGE="caddy:2"
