HOST_IP="192.168.1.15"
HOSTNAME_TO_SET=""
PRIMARY_USER=""

TZ="America/Chicago"

PORTAINER_DOMAIN="portainer.home"
HOMEPAGE_DOMAIN="dash.home"

INSTALL_TAILSCALE="true"
ENABLE_UFW="true"
ENABLE_UNATTENDED_UPGRADES="true"
HARDEN_SSH="false"
# WARNING: Watchtower was archived Dec 2025 and is no longer maintained.
# See: https://github.com/containrrr/watchtower
ENABLE_WATCHTOWER="false"

DOCKER_ROOT="/opt/docker"
BACKUP_RETAIN_DAYS="14"

PORTAINER_IMAGE="portainer/portainer-ce:2"
HOMEPAGE_IMAGE="ghcr.io/gethomepage/homepage:latest"
WATCHTOWER_IMAGE="containrrr/watchtower:1.7.1"
CADDY_IMAGE="caddy:2"
